* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-family: "Epilogue", sans-serif;
    --second-family: "Bevan", sans-serif;
}

body {
    background: #211f28;
}

h1, h2 {
    font-family: var(--second-family);
    line-height: 125%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

h1 {
    font-size: 32px;
    margin-bottom: 40px;
}

h2 {
    font-size: 28px;
    margin: 24px 0;
}

h3 {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #fff;
}

ul {
    list-style: none;
    padding: 0;
}

p {
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #e0e0e0;
}

.container {
    max-width: 520px;
    margin: 0 auto 80px;
    padding: 60px 24px 0;
}

.header-container {
    margin: 20px auto 0;
    border-bottom: 1.6px solid #656363;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 24px 20px;
}

.hero-thumb {
    height: 480px;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.content-image {
    width: 100%;
    border-radius: 10px;
    margin: 24px 0 32px;
}

.wrapper {
    display: flex;
    flex-direction: column;

    p {
        text-align: start;
    }

    li:not(:last-child) {
        margin-bottom: 24px;
    }

    h3 {
        margin-bottom: 16px;
    }
}

.special-small {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #8e7ada;
}

.special-big {
    font-family: var(--second-family);
    font-size: 32px;
    line-height: 125%;
    letter-spacing: 0.04em;
    text-align: start;
    color: #8e7ada;
    margin-top: 100px;
}

.about-us {
    background-color: #18171c;
    padding-bottom: 2px;
}

.our-team-title {
    margin-top: 0;
}

.card-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #4e4e4e;
    border-radius: 8px;
    max-width: 328px;
    background: #292732;
    margin-top: 24px;
    padding: 30px 10px 22px;

    img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-bottom: 24px;
    }

    h3 {
        margin: 8px 0 16px;
    }
}

.feedback-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    justify-items: center;
}

.feedback-card {
    display: flex;
    flex-direction: column;
    align-items: start;
    border: 1px solid #4e4e4e;
    border-radius: 8px;
    max-width: 328px;
    background: #292732;
    margin-top: 24px;
    padding: 22px 24px;

    img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-bottom: 24px;
    }

    p {
        text-align: start;
    }
}

.voices {
    h2 {
        margin: 0 0 40px;
    }
}

.sign-text {
    font-weight: 500;
    color: #f2f2f2;
    margin-top: 12px;
}

.gallery {
    margin: 0 auto;
}

.gallery-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 12px;
}

.gallery-item > img {
    width: 120px;
}