* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-family: "Epilogue", sans-serif;
    --second-family: "Bevan", sans-serif;
}

body {
    background: #211f28;
}

a {
    text-decoration: none;
    color: #fff;
}

h1, h2 {
    font-family: var(--second-family);
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

h1 {
    font-size: 32px;
    margin-bottom: 40px;
}

h2 {
    font-size: 28px;
    margin: 24px 0;
}

h3 {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #fff;
}

ul {
    list-style: none;
    padding: 0;
}

p {
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #e0e0e0;
}

.container {
    max-width: 520px;
    margin: 0 auto 80px;
    padding: 60px 24px 0;
}

.header-container {
    margin: 20px auto 0;
    border-bottom: 1.6px solid #656363;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 24px 20px;
}

.header-navigation-list {
    display: none;
}

.header-btn {
    display: none;
}

.mobile-menu {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
}

.mobile-menu.show {
    display: block;
}

.mobile-menu-nav > ul {
    margin-top: 24px;

    li:not(:last-child) {
        margin-bottom: 14px;
    }
}

.mobile-nav-link {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 0;
}

.menu-content {
    width: 80%;
    height: 60%;
    position: relative;
    padding: 45px 24px 60px;
    margin: 50px auto;
    border-radius: 10px;
    background-color: #494949;
}

.mob-menu-btn {
    display: block;
    border: none;
    border-radius: 8px;
    padding: 13px 86px;
    max-width: 328px;
    height: 48px;
    background: #8e7ada;
    margin: 80px auto 0;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #fff;
}

.close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
}

.hero-thumb {
    height: 480px;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.content-image {
    width: 100%;
    border-radius: 10px;
    margin: 24px 0 32px;
}

.wrapper {
    display: flex;
    flex-direction: column;

    p {
        text-align: start;
    }

    li:not(:last-child) {
        margin-bottom: 24px;
    }

    h3 {
        margin-bottom: 16px;
    }
}

.special-small {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #8e7ada;
}

.special-big {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: 0.04em;
    text-align: start;
    color: #8e7ada;
    margin-top: 100px;
}

.about-us {
    background-color: #18171c;
    padding-bottom: 2px;
}

.our-team-title {
    margin-top: 0;
}

.card-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #4e4e4e;
    border-radius: 8px;
    max-width: 328px;
    background: #292732;
    margin-top: 24px;
    padding: 30px 10px 22px;

    img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-bottom: 24px;
    }

    h3 {
        margin: 8px 0 16px;
    }
}

.feedback-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    justify-items: center;
}

.feedback-card {
    display: flex;
    flex-direction: column;
    align-items: start;
    border: 1px solid #4e4e4e;
    border-radius: 8px;
    max-width: 328px;
    background: #292732;
    margin-top: 24px;
    padding: 22px 24px;

    img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-bottom: 24px;
    }

    p {
        text-align: start;
    }
}

.voices {
    h2 {
        margin: 0 0 40px;
    }
}

.sign-text {
    font-weight: 500;
    color: #f2f2f2;
    margin-top: 12px;
}

.gallery {
    max-width: 420px;
    margin: 0 auto 60px;
    padding: 60px 8px 0;
}

.gallery-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 12px;
    row-gap: 12px;
}

.gallery-item {
    
    img {
        width: 100%;
        border-radius: 4px;
    }
} 

.footer-wrapper {
    display: flex;
    justify-content: space-between;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: start;

    h2 {
        margin: 0 0 36px;
    }

    a {
        font-family: var(--font-family);
        font-size: 14px;
        line-height: 150%;
        color: #fff;
    }
}

.social-list {
    display: flex;
    gap: 15px;
    margin-top: 36px;
}

.navigation-list {
    a {
        font-family: var(--font-family);
        font-size: 14px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #f2f2f2;
    }
}

.navigation-list > li:not(:last-child){
        margin-bottom: 24px;
    }

.sign {
    display: flex;
    flex-direction: column;
    align-items: start;
    border-top: 1.6px solid #656363;
    text-align: start;
    margin-top: 80px;

    p {
        font-family: var(--font-family);
        font-size: 14px;
        line-height: 150%;
        color: #fff;

        margin: 32px 0 64px;
    }
    
}

.privacy {
    display: flex;
    gap: 24px;
    
    a {
        font-family: var(--font-family);
        font-size: 14px;
        line-height: 150%;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #fff;
    }
}

@media (min-width: 769px){
    
    h1 {
        font-size: 60px;
        line-height: 150%;
        margin-bottom: 80px;
    }

    h2 {
        font-size: 48px;
        line-height: 140%;
        margin: 24px 0;
    }

    h3 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }

    .burger-menu {
        display: none;
    }

    .header-navigation-list {
        display: flex;
        justify-content: space-between;
        width: 480px;
        padding: 0 8px;

        a {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            color: #f2f2f2;
            cursor: pointer;

            &:hover {
                color: #8e7ada;
            }
        }
    }

    .header-btn {
        display: block;
        border: none;
        border-radius: 8px;
        padding: 12px 56px;
        width: 170px;
        height: 50px;
        background: #8e7ada;
        cursor: pointer;

        font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        color: #fff;

        &:hover {
            background: #625597;
        }
    }

    .header-container {
        margin: 25px auto 0;
    }

    .header-wrapper {
        margin: 0 64px 20px;
    }

    .container {
        max-width: 1280px;
        margin: 0 auto 80px;
        padding: 100px 80px 0;
    }

    .hero-thumb {
        height: 640px;
    }

    .tablet-container {
        max-width: 840px;
        margin: 0 auto;
        padding: 20px 80px 40px;
    }

    .special-small {
        font-size: 24px;
    }

    .content-image {
        display: block;
        width: 60%;
        margin: 24px auto 32px;
    }

    .wide-image {
        width: 100%;
    }
    
    .card {
        border-radius: 16px;
        max-width: 580px;
        margin-top: 24px;
        padding: 50px 42px 60px;

        img {
            width: 160px;
            height: 160px;
            border-radius: 50%;
            margin-bottom: 32px;
        }

        h3 {
            margin: 16px 0 16px;
        }
    }

    .feedback-list {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        max-width: 790px;
        column-gap: 30px;
        row-gap: 40px;
        margin: 80px auto 0;
    }

    .feedback-card {
        border-radius: 16px;
        max-width: 380px;
        margin-top: 0;
    }

    .sign-text {
        color: #4e4e4e;
    }

    .gallery {
        max-width: 800px;
        padding: 60px 16px 0;
    }

    .gallery-list {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
        row-gap: 30px;
    }

    .gallery-item {

        img {
            width: 100%;
            border-radius: 8px;
        }
    }

    .sign {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        p {
            font-size: 16px;
            margin: 32px 0 32px;
        }

    }

    .privacy {
        display: flex;
        gap: 32px;

        a {
            font-size: 16px;
            cursor: pointer;

            &:hover {
                color: #8e7ada;
            }
        }
    }

    .contacts {

        p {
            font-size: 16px;
            margin-bottom: 16px;
        }

        a {
            font-size: 16px;
            cursor: pointer;
            
            &:hover {
                color: #8e7ada;
            }
        }
    }

    .social-list {
        margin-top: 24px;

        img {
            width: 32px;
            height: 32px;
            cursor: pointer;
            transition: transform 250ms ease-in-out;
            
            &:hover {
                transform: scale(1.4);
            }
        }
    }

    .navigation-list {
        margin-top: 24px;

        a {
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
            
            &:hover {
                color: #8e7ada;
            }
        }
    }

}

@media (min-width: 1280px){
    .container {
        max-width: 1280px;
        margin: 0 auto;
        padding: 100px 80px 40px;
    }

    .content-image {
        width: 540px;
        margin: 48px 0 32px;
    }

    .wide-image {
        width: 100%;
        margin: 48px 0 0;
    }

    .wrapper {
        flex-direction: row;
        align-items: center;
        gap: 90px;
        max-width: 1100px;
    }

    .vertical-wrapper {
        flex-direction: column;
        gap: 48px;
    }

    .special-big {
        font-weight: 400;
        font-size: 96px;
    }

    .mission-list {
        display: flex;
        justify-content: space-between;
        gap: 32px;
    }

    .card-list {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 64px;
        row-gap: 64px;
        margin-top: 80px;
    }

    .feedback-list {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        max-width: 1200px;
        column-gap: 30px;
        row-gap: 40px;
    }

    .gallery {
        max-width: 1120px;
        padding: 80px 8px 0;
    }

    .gallery-list {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
        row-gap: 30px;
    }
    
}